html,
body {
  color: #485e20;
  height: 100%;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  background-color: #aad752;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message,
#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
}

.board div {
  color: #485e20;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 0.05em solid #485e20;
  border-radius: 3%;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7ffb9;
}

.board div:hover {
  background-color: white;
}

.boardSize {
  padding-bottom: 0.5em;
}

.myButton {
  display: inline-block;
  padding: 0.55em 1.5em;
  border: 0.1em solid #485e20;
  font: "Muli", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #485e20;
  background-color: white;
  border-radius: 5%;
}
.myButton:hover {
  color: #000000;
}
@media all and (max-width: 30em) {
  .myButton {
    display: block;
    margin: 0.4em auto;
  }
}

.buttonContainer {
  padding-top: 0.5em;
}

div.mine,
div.mine:hover {
  background: no-repeat center/60% url("images/bomb.svg") #db3236;
}

div.hidden {
  background: #a1d14a;
  border: 0.05em solid #485e20;
}

div.hidden:hover {
  background: #b0ca7b;
}

div.marked,
div.marked:hover {
  background: no-repeat center/60% url("images/mark.svg") rgb(0, 255, 115);
}
